.row {
    margin-bottom: 20px;
}

button{
    padding: 0.55rem;
    margin: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

#inc, #dec {
    max-width: 100px;
    min-width: 100%;
    font-weight: bold;
    font-size: 1.6rem;
}

#threshold {
    font-size: 1.6rem;
}

/* Removes arrow buttons from number text inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
