<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/UI.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                <h3>Live Streaming</h3>
                <img src="{{url_for('video_feed')}}" width="100%">
            </div>
            <!-- Buttons Div -->
            <div style="max-width: fit-content; margin:0 auto 0 auto;">
                <button>Capture</button><button>Run SIFT</button>
            </div>
            <!-- Threshold Div  -->
            <div style="max-width: fit-content; margin:0 auto 0 auto;">
                <button class="inc">+</button> <h1>VALUE</h1> <button class="dec">-</button>
            </div>
        </div>
    </div>
</body>